/* Team colors start */

/* Ferrari */
.red {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 red, 0 0 2em rgba(0, 0, 0, 0.507);
}

.red:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 red, 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* Mercedes */
.light-blue {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 #00d8d1, 0 0 2em rgba(0, 0, 0, 0.507);
}

.light-blue:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 #00d8d1, 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* Redbull */
.blue {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 97, 207), 0 0px 2em rgb(31, 31, 31);
}

.blue:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 97, 207), 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* McLaren */
.orange {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 orange, 0 0px 2em rgb(31, 31, 31);
}

.orange:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 orange, 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* Aston Martin */
.dark-green {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 100, 83), 0 0px 2em rgb(31, 31, 31);
}

.dark-green:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 100, 83), 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* Haas */
.grey {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(190, 190, 190), 0 0px 2em rgb(31, 31, 31);
}

.grey:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(190, 190, 190), 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* Williams */
.williams-blue {
box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(79, 188, 255), 0 0px 2em rgb(31, 31, 31);
}

.williams-blue:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(79, 188, 255), 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* Kick Sauber F1 */
.green {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 255, 0), 0 0px 2em rgb(31, 31, 31);
}

.green:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 255, 0), 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* RB */
.rb-blue {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 blue, 0 0px 2em rgb(31, 31, 31);
}

.rb-blue:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 blue, 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* Alpina */
.alpine-blue {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 89, 255), 0 0px 2em rgb(31, 31, 31);
}

.alpine-blue:hover {
    box-shadow: -6px -6px 0 grey, -12px -12px 0 rgb(0, 89, 255), 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black;
}

/* --------------- */
/* Team colors end */
/* --------------- */

html {
    background-color: rgb(44, 44, 44);
    color: white;
}

.driver-form > div > input {
    padding: 4px
}

.driver-buttons {
    display: flex;
}

.driver-buttons > * {
    padding: 1em;
    color: white;
    border-radius: 2em;
}

.btn-fav {
    justify-content: flex-end;
    background-color: rgb(31, 31, 31);
    padding: 1.1rem;
}

.btn-fav:hover {
    background-color: rgb(173, 58, 58);
}

.loading {
    margin: 0 auto;
}

.info-column > * {
    margin: 0 0 2.7em 0;
}

.pts {
    background-color: rgb(155, 135, 45);
    padding: 1em;
    margin-right: 4px;
    color: white;
    border-radius: 2em;
    font-weight: bold;
    width: 7em;
    text-align: center;
}

.driver-no {
    font-weight: bolder;
    font-size: 1.2rem;
}

.driver-number {
    margin-left: 1em;
}

.favorite {
    background-color: white;
    border: none;
    padding: 0.4em 1em;
}

.favorite:hover {
    background-color: red;
}

.driver-avatar {
    width: 10em;
    margin: 0.5em 1em;
    box-shadow: 0 16px 12px rgba(0, 0, 0, 0.281);
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 1rem;
}

.driver-bottom {
    padding: 0.5em 0;
}

.driver:hover {
    /* box-shadow: -6px -6px 0 grey, -12px -12px 0 red, 0 0px 2em rgb(31, 31, 31), -18px -18px 0 black; */
    scale: 1.01;
}

.driver {
    transition: 0.25s ease-in-out;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(29, 6, 48);
    color: white;
}

.drivers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    grid-gap: 2rem;
    justify-content: center;
    background-color: rgb(58, 55, 63);
    padding: 3em 0;
    margin: 3em 3em;
    margin-top: 0;
    border-radius: 3em;
    box-shadow: -6px -6px 0 grey, -12px -12px 0 red, 0 0 2em rgba(0, 0, 0, 0.507);
}

.heading {
    justify-content: center;
    align-items: center;
    background-color: darkred;
    padding-bottom: 1.5em;
    width: 33vw;
    border-radius: 2em 2em 0 0;
    margin: 0 auto;
    margin-top: 2em;
    z-index: 2;
}

.img-input {
    width: 320px;
}