body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    margin: 0;
    padding: 0;
}

.navbar > * {
    margin: 1em;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
}

.nav-item {
    transition: ease-in-out 1s;
    text-decoration-color: red;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

.active {
    text-decoration: underline;
    text-decoration-color: red;
}