* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.content {
    padding: 0 5em;
}

hr {
    color: white;
}

.title {
    text-align: center;
    margin-top: 1em;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.home {
    display: grid;
    justify-content: center;
}

.home-title {
    padding: 1em;
    text-align: center;
    color: red;
    text-shadow: 0 0 .5em rgba(0, 0, 0, 0.253);
}

.btn-add {
    padding: .6em;
    margin: 2em 0 0 1em;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
    transition: 0.4s;
    color: white;
}

.btn-add:hover {
    background-color: rgba(0, 0, 0, 0.4) !important; 
}

.btn {
    transition: 0.4s;
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.btn:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.btn-submit {
    padding: 0.5em;
    background-color: rgb(37, 212, 14);
    border-radius: 0.5em;
    font-size: 1rem;
    margin-top: 1em;
    color: white;
}

.card-top {

}

.card-bottom {
    padding: 0.5em 0;
    align-items: center;
}

.card-bottom > .column > p,
.card-top > .column > div {
    margin: 0.25em 0;
}

.avatar {
    width: 8em;
    height: 8em;
    margin: 0.5em 1em;
    box-shadow: 0 16px 12px rgba(0, 0, 0, 0.281);
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 1rem;
}

.team-points {
    margin: 1em !important;
    width: 8em;
    text-align: center;
}

.card {
    transition: 0.25s ease-in-out;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(29, 6, 48);
    color: white;
}

.card:hover {
    scale: 1.01;
}

.column > * {
    font-size: 1.2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    grid-gap: 2rem;
    justify-content: center;
    background-color: rgb(58, 55, 63);
    padding: 3em 0;
    margin: 3em 3em;
    margin-top: 0;
    border-radius: 3em;
    box-shadow: -6px -6px 0 grey, -12px -12px 0 red, 0 0 2em rgba(0, 0, 0, 0.507);
}

.heading {
    justify-content: center;
    align-items: center;
    background-color: darkred;
    padding-bottom: 1.5em;
    width: 33vw;
    border-radius: 2em 2em 0 0;
    margin: 0 auto;
    margin-top: 2em;
    z-index: 2;
}

.bold {
    font-weight: bold;
}

.input-field-group {
    display: grid;
    justify-content: center;
    margin: 0.25em;
}

.input-field-group > input {
    border-radius: .5em;
    padding: 0.5em;
    max-width: 25vw;
}

.add-modal-bottom {
    display: flex;
    justify-content: center;
}

.modal-close {
    background-color: red;
    color: white;
    font-size: 1rem;
    margin-left: 0.5em;
}

input {
    box-shadow: none;
    border: none;
}

.input:focus .input:active input[type=text]:focus span:focus {
    border: none;
    box-shadow: none;
  }

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: rgb(63, 63, 63);
    padding: 2em;
    border-radius: 1em;
    max-width: 600px;
    min-width: 300px;
    box-shadow: -8px -8px 0 darkred, -16px -16px 0 black;
    animation: opacity 1s;
}

.overlay {
    animation: opacity 0.7s;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-center {
    text-align: center;
}